  <h2>マイページ</h2>
  <%= @user.name %><hr>
  <%= @user.age %>
<%= @user.sex %>
  <%= link_to("編集","/users/#{@user.id}/edit") %>
<div class="favorite">
  <div class="container">
    <p>お気に入り商品</p>
    <% @vote.each do |vote| %>
      <%= link_to(Item.find(vote.item_id).name, "/items/#{Item.find(vote.item_id).id}") %><br>
    <% end %>
    <% if @total_order != nil %>
      <% @total_order.each do |o| %>
        <%= link_to("yourorder","/total_orders/#{o.id}") %>
      <% end %>
    <% end %>
  </div>

</div>