  <h2>マイページ</h2>
  <div class="h3">
    <%= @user.name %>
  </div>
  <div class="h6">
    <%= "年齢:  #{@user.age}" %><br>
    <%= "性別: #{@user.sex}"  %>
  </div>
  <div class="text-right">
    <%= link_to("編集","/users/#{@user.id}/edit" ,class: "btn btn-outline-primary loat-right btn-sm") %><hr>
  </div> 
<div class="favorite">
  <div class="container">
    <p>お気に入り商品</p>
    <% @vote.each do |vote| %>
      <%= link_to(Item.find(vote.item_id).name, "/items/#{Item.find(vote.item_id).id}", class: "link-primary text-decoration-none") %><br>
    <% end %>
    <% if @total_order != nil %>
      <p>注文履歴</p>
      <% @total_order.each do |o| %>
        <%= link_to("yourorder#{o.id}","/total_orders/#{o.id}", class: "link-uccess text-decoration-none") %>
      <% end %>
    <% end %>
  </div>

</div>