<%= form_with(model: @order, local: true) do |f| %>
  <%= f.label :item_id %>
  <%= f.select :item_id, options_from_collection_for_select(@item, "id", "name") %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
  <div>
    <%= link_to_add_association "<i class='bi bi-plus'></i> 追加".html_safe, f, :order, class: "btn btn-sm btn-secondary",
      data: { association_insertion_node: '#details', association_insertion_method: 'append' } %>
  </div>
  <%= f.submit "登録" %>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    sum();
    addEvent($("#details"));
    
    $("#details")
    .on("cocoon:after-insert", function(e, insertedItem) {
      addEvent(insertedItem);
    })
    .on("cocoon:after-remove", function() {
      sum();
    });

    function addEvent(obj) {
      $(obj).find("input").change(function(){
        sum();
      });
    };
    function sum() {
      let total = 0;
      $("#details .row").each(function(index, row){
        const price = $(row).find("input[id$='price']").val();
        const quantity = $(row).find("input[id$='quantity']").val();
        if (price && quantity) {
          total += price * quantity;
        }
      });
      $("#receipt_total_price").val(total);
    }
  });
</script>