<div class="text-center">
  <% @item.each do |item| %>
    <% if item.voted_count > @user_count/2 %>
      <div class="favorite">
        <i class="bi bi-star"></i>
        <%= link_to(item.name, "/items/#{item.id}",class:"favorite")  %><%= "¥#{item.price}" %>
        <%= image_tag item.picture.url  %><br> 
      </div>
    <% else %>    
      <%= link_to(item.name, "/items/#{item.id}")  %><%= "¥#{item.price}" %>
      <%= image_tag item.picture.url %><br> 
    <% end %>
  <% end %>
  <%= will_paginate @item, :previous_label => "&lt　前", :next_label => "次&gt" %>
</div>

