<p><%= alert %></p>
<div class="text-center">
<table class="table">
  <thead>
    <%= sortable "created_at", "商品登録順" %><br>
    <%= sortable "voted_count","人気順" %>
    <p class="text-right text-danger"> <i class="bi bi-star"></i>人気商品</p>
    <th><%= sortable "name","商品名" %></th><!--shouhinmei-->
    <th>価格</th>
    <th>image</th>
  </thead>
  <tbody>
    <% @item.each do |item| %>
      <tr>
        <div class="favorite">
          <td class="col-6">
            <% if item.voted_count > @user.recom_count %>
              <i class="bi bi-star text-danger"></i>
              <%= link_to(item.name, "/items/#{item.id}",class:"text-danger")  %>
            <% else %>
              <%= link_to(item.name, "/items/#{item.id}",class:"item")  %>
            <% end %>
          </td>
          <td class="col-1" >
            <%= "#{item.price}円" %>
          </td>
          <td class="col-3" >
            <%= image_tag item.picture.url  %>
          </td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
  
  <%= will_paginate @item, :previous_label => "&lt　前", :next_label => "次&gt" %>
</div>

