<%= form_with(model: @item, url: "/items",method: :post ,local: true) do |f| %>
  <%= render "shared/error_messages", model: f.object %>
  <div class= "col-8">
    <%= f.label :name, "商品名" %><br>
    <%= f.text_field :name %>
  </div>
  <div class= "col-8">
    <%= f.label :description, "商品概要" %><br>
    <%= f.text_area :description, cols: "50*40", rows:4 %>
  </div>
  <div class= "col-3">
    <%= f.label :price, "価格" %><br>
    <%= f.number_field :price, step: "10" %>
  </div>
  <div class="col-3">
    <%= f.label :creation_time, "作成時間(分)" %><br>
    <%= f.number_field :creation_time, step: "0.1" %>
  </div >
    <span class="picture col-3">
    <%= f.file_field :picture %>
  </span>
  <div class="col-3">
    <%= f.submit %>
  </div>
<% end %>