<div class="nested-fields row">
  <%= f.hidden_field :id %>
  <div class="col" id="item_id" >
    <%= f.label :item_id %>
    <div id="item_id">
      <%= f.select :item_id, options_from_collection_for_select(Item.all, :id, :name, :selected => params[:item_id]) %>
    </div>
  </div>
  <div class="col">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, value: 1 %>
  </div>
  <div class="col">
    <%= f.label :creation_time  %>
    <%= f.number_field :creation_time %>
  </div>
  <div class="col">
    <%= link_to_remove_association "<i class='bi bi-x'></i> 削除".html_safe, f  %>
  </div>
</div>

<!--<script type="text/javascript">
  $('select').change(add_time);
  function add_time(){
    // const id = document.getElementById("total_order_orders_attributes_0_item_id").innerHTML;
    const id = document.getElementById('total_order_orders_attributes_0_item_id').value;
    // alert(id);
    var result = Item.find(id).creation_time
    alert(result);
    // $("#order_creation_time").val(data.creation_time);

  }

</script>-->