<div class="nested-fields row">
  <%= f.hidden_field :id %>
  <div class="col" id="item_id" >
    <%= f.label :item_id, "商品" %>
    <div id="item_id">
      <%= f.select :item_id, options_from_collection_for_select(Item.all, :id, :name, :selected => params[:item_id]) %>
    </div>
  </div>
  <div class="col">
    <%= f.label :quantity, "数量" %>
    <%= f.number_field :quantity, value: 1 %>
  </div>
  <div class="col">
    <%= f.label :creation_time,"製作時間(分)"  %>
    <%= f.number_field :creation_time,value:Item.find(params[:item_id]).creation_time, step: 0.1 %>
  </div>
  <div class="col">
    <%= link_to_remove_association "<i class='bi bi-x'></i> 削除".html_safe, f  %>
  </div>
</div>
    <div id="hidden" hidden>
      <%= @time %>
    </div>

<script type="text/javascript">
  $('select').change(add_time);
    function add_time(){
    const id = document.getElementById('total_order_orders_attributes_0_item_id').value;
    const time = document.getElementById('hidden').innerHTML
    var result = (time[id * 5 -2] + time[id*5])/10
    $("#total_order_orders_attributes_0_creation_time").val(result);
    $("#total_order_large_time").val(result);

  }

</script>