<div class="nested-fields row">
  <%= f.hidden_field :id %>
  <div class="col">
    <%= f.label :item_id %>
    <%= f.select :item_id, options_from_collection_for_select(Item.all, :id, :name) %>
  </div>
  <div class="col">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <div class="col">
    <%= link_to_remove_association "<i class='bi bi-x'></i> 削除".html_safe, f  %>
  </div>
</div>
