<div class="favorite">
  <% @vote.each do |voted_item| %>
    <%= link_to(Item.find(voted_item.item_id).name, "/items/#{Item.find(voted_item.item_id).id}") %> 
    <%= button_to("投票を取り消す", "/votes/#{voted_item.id}", method: :delete, class:"btn btn-sm btn-outline-danger") %><br>
  <% end %> 
</div>


<div class="not_favorit">
  <p>追加</p>
  <% @item.each do |item| %>  
    <%= form_with(model: @vote, url: "/votes", local: true) do |f| %>
    <%= link_to(item.name, "/items/#{item.id}") %><%= "¥#{item.price}" %>
    <%= f.check_box :voting ,checked_value: true, unchecked_value: false %><br>
    <%= f.hidden_field :item_id, value: item.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "投票" %><br>
    <% end %>
  <% end %>
</div>
