<p>お気に入り商品</p>
<% @vote.each do |voted_item| %>
  <div class="favorite row  my-3">
    <div class="col-1"><i class="bi bi-star"></i></div>
    <div class="col-8">
      <%= link_to(Item.find(voted_item.item_id).name, "/items/#{Item.find(voted_item.item_id).id}") %> 
    </div>
    <div class="col-3">
      <%= link_to("取り消す", "/votes/#{voted_item.id}", method: :delete, class:"btn btn-sm btn-outline-danger") %> 
    </div>
  </div>
<% end %> 

  <p>その他の商品</p>
  <% @item.each do |item| %>
    <%= form_with(model: @vote, url: "/votes", local: true) do |f| %>
      <div class="not_favorite row my-3">
        <div class="col-1"></div>
        <div class="col-8">
          <%= link_to(item.name, "/items/#{item.id}", class:"text-decoration-none link-secondary") %>
        </div>
        <%= f.hidden_field :item_id, value: item.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="col-3">
          <%= f.submit "追加" , class:"btn btn-sm btn-outline-success" %>
        </div>
      </div>
    <% end %>
  <% end %>

