<header>
  <div class="header-logo">
    CM-Cafe
  </div>
  <div>
    <% if current_user != nil %>
      <ul>
        <li>
          <%= link_to("ログアウト", "/users/sign_out", method: :delete) %>
        </li>
        <li>
          <%= link_to("商品一覧", "/items") %>  
        </li>
        <li>
          <%= link_to("your page", "/users/#{current_user.id}") %>
        </li>
        <li>
          <%= link_to("投票", "/votes/new") %>
        </li>
        <% if current_user.admin? %>
          <li>
            <%= link_to("商品追加", "/items/new") %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <ul>
        <li>
          <%= link_to("ログイン", "/users/sign_in") %>
        </li>
        <li>
          <%= link_to("新規登録", "/users/sign_up") %>
        </li>
        <li>
          <%= link_to("商品一覧", "/items") %>  
        </li>
    <% end %>
 </header>